<div class="w-page min-h-screen">
  <div class="flex justify-center items-center p-4">
    <div class="w-40 sm:w-80">
      <img
        src="assets/banner.png"
        class="w-full h-full object-contain object-center"
      />
    </div>
  </div>

  <div class="flex justify-around items-center">
    <button
      mat-icon-button
      [disabled]="selectedIndex === 0"
      matTooltip="點名紀錄"
      (click)="selectedIndex = 0"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div [ngSwitch]="selectedIndex" class="text-3xl">
      <div *ngSwitchCase="0">點名紀錄</div>
      <div *ngSwitchCase="1">統計圖表</div>
    </div>

    <button
      mat-icon-button
      [disabled]="selectedIndex === 1"
      matTooltip="統計圖表"
      (click)="selectedIndex = 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <mat-tab-group
    mat-stretch-tabs
    [(selectedIndex)]="selectedIndex"
    backgroundColor="primary"
    class="hidden-tabs"
  >
    <mat-tab label="紀錄">
      <div class="-m-4">
        <div class="table-box">
          <table mat-table [dataSource]="dataSource">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- no # -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let record; index as i">
                {{ i + 1 }}
              </td>
            </ng-container>

            <!-- datetime 點名時間: datetime -->
            <ng-container matColumnDef="datetime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                點名時間
              </th>
              <td mat-cell *matCellDef="let record">
                <time
                  [title]="record.datetime | timeTitle"
                  class="text-base whitespace-nowrap"
                  >{{ record.datetime | date : "yyyy-MM-dd (E) HH:mm" }}</time
                >
              </td>
            </ng-container>

            <!-- names 名單: names -->
            <ng-container matColumnDef="names">
              <th mat-header-cell *matHeaderCellDef>名單</th>
              <td mat-cell *matCellDef="let record">
                <div class="w-60">
                  <mat-chip-list [selectable]="false">
                    <mat-chip
                      *ngFor="let name of record.names"
                      color="primary"
                      >{{ name }}</mat-chip
                    >
                  </mat-chip-list>
                </div>
              </td>
            </ng-container>

            <!-- actions 操作 -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>操作</th>
              <td mat-cell *matCellDef="let record; index as i">
                <div class="actions-box">
                  <button
                    mat-icon-button
                    color="primary"
                    matTooltip="編輯"
                    (click)="onAddOrEdit(record, i)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    color="warn"
                    matTooltip="刪除"
                    (click)="onDelete(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
          </table>
        </div>

        <div
          class="w-full h-12 flex justify-center items-center rounded-full bg-accent text-white cursor-pointer"
          matTooltip="新增紀錄"
          (click)="onAddOrEdit()"
        >
          <mat-icon>add</mat-icon>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="統計">
      <div class="h-120">
        <ngx-charts-bar-vertical
          [results]="results"
          [scheme]="colorScheme"
          [legend]="dataSource.length !== 0"
          legendTitle="名單"
          [legendPosition]="
            MDQuery.matches
              ? legendPositionObject.right
              : legendPositionObject.below
          "
          [xAxis]="true"
          [yAxis]="true"
          [roundDomains]="true"
          [yAxisTickFormatting]="yAxisTickFormatting"
        >
        </ngx-charts-bar-vertical>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
